<content has-header="true" has-footer="true">
	
	<h3 class="title">Welcome !</h3>
	
	<div class="list">
		<div class="item item-button-right">
			<p>Push button to send to server your location information</p>
			<button class="button button-energized" ng-click="sendGeolocation()">
				<i class="icon ion-location"></i>
			</button>
		</div>
		
		<div class="item item-button-right">
			<p>Push button to capture photo and save on server</p>
			<button class="button button-energized" ng-click="sendPicture()">
				<i class="icon ion-camera"></i>
			</button>
		</div>
	</div>

</content>
